---
permalink: /humans.txt
---
/* TEAM */
Site: {{ metadata.title }}
Organization: The Whitestone Foundation
URL: {{ metadata.url }}
Contact: {{ metadata.email or "hello@thenewpolis.com" }}

/* THANKS */
Built with Eleventy
