---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
	{%- for page in collections.all %}
		{% set absoluteUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endset %}
		<url>
			<loc>{{ absoluteUrl }}</loc>
			<lastmod>{{ page.date | htmlDateString }}</lastmod>
		</url>
	{%- endfor %}

	{%- for item in collections.all %}
		{%- if item.data and item.data.pdf %}
		<url>
			<loc>{{ item.data.pdf | htmlBaseUrl(metadata.url) }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
		</url>
		{%- endif %}
		{%- if item.url and (item.url.endsWith(".pdf")) %}
		<url>
			<loc>{{ item.url | htmlBaseUrl(metadata.url) }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
		</url>
		{%- endif %}
		{%- if item.data and item.data.image %}
		<url>
			<loc>{{ item.data.image | htmlBaseUrl(metadata.url) }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
		</url>
		{%- endif %}
		{%- if item.url and (item.url.endsWith(".png") or item.url.endsWith(".jpg") or item.url.endsWith(".jpeg") or item.url.endsWith(".webp") or item.url.endsWith(".gif") or item.url.endsWith(".svg")) %}
		<url>
			<loc>{{ item.url | htmlBaseUrl(metadata.url) }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
		</url>
		{%- endif %}
	{%- endfor %}
</urlset>
