---
permalink: /sitemaps/doaj-archives.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
{% set siteUrl = metadata.url | htmlBaseUrl %}
<records>
{% for post in collections.all %}{% if post.url and post.url.startsWith('/archives/') and post.data.title and post.url != '/archives/' %}
  <record>
    <publisher>Whitestone Publications</publisher>
    <journal_title>{{ metadata.title | escape }}</journal_title>
    <article_title>{{ post.data.title | escape }}</article_title>
    <publication_date>{{ post.data.year or post.date.getFullYear() }}</publication_date>
    <url>{{ post.url | htmlBaseUrl(siteUrl) }}</url>
    <language>{{ metadata.language or "en" }}</language>
    {% if post.data.description %}<abstract>{{ post.data.description | escape }}</abstract>{% endif %}
  </record>
{% endif %}{% endfor %}
</records>
