---
permalink: /feed/philpapers.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
{% set siteUrl = metadata.url | htmlBaseUrl %}
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://purl.org/rss/1.0/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/">
  <channel rdf:about="{{ '/feed/philpapers.xml' | htmlBaseUrl(siteUrl) }}">
    <title>{{ metadata.title | escape }}</title>
    <link>{{ '/' | htmlBaseUrl(siteUrl) }}</link>
    <description>{{ metadata.description | escape }}</description>
    <prism:publicationName>{{ metadata.title | escape }}</prism:publicationName>
    <items><rdf:Seq>{% for post in collections.all %}{% if post.url and post.url.startsWith('/archives/') and post.data.title and post.url != '/archives/' %}<rdf:li rdf:resource="{{ post.url | htmlBaseUrl(siteUrl) }}"/>{% endif %}{% endfor %}</rdf:Seq></items>
  </channel>
  {% for post in collections.all %}{% if post.url and post.url.startsWith('/archives/') and post.data.title and post.url != '/archives/' %}
  <item rdf:about="{{ post.url | htmlBaseUrl(siteUrl) }}">
    <title>{{ post.data.title | escape }}</title>
    <link>{{ post.url | htmlBaseUrl(siteUrl) }}</link>
    <dc:creator>{{ (post.data.authors or post.data.author or metadata.title) | escape }}</dc:creator>
    <dc:date>{{ post.data.year or post.date.getFullYear() }}</dc:date>
    {% if post.data.description %}<description>{{ post.data.description | escape }}</description>{% endif %}
    <prism:publicationName>{{ metadata.title | escape }}</prism:publicationName>
    {% if post.data.volume %}<prism:volume>{{ post.data.volume | escape }}</prism:volume>{% endif %}
    {% if post.data.issue %}<prism:number>{{ post.data.issue | escape }}</prism:number>{% endif %}
  </item>
  {% endif %}{% endfor %}
</rdf:RDF>
